<section th:fragment="hero-area" class="hero-area">
  <div class="hero-slideshow owl-carousel">

    <!-- Single Slide -->
    <div class="single-slide">
      <!-- Background Image-->
      <div class="slide-bg-img bg-img" th:style="'background-image: url(' + @{img/bg-img/1.jpg} + ');'"></div>
      <!-- Welcome Text -->
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 col-lg-9">
            <div class="welcome-text">
              <h2 data-animation="fadeInUp" data-delay="300ms"><span>Креативное Агенство </span><br></h2>
              <h4 data-animation="fadeInUp" data-delay="500ms">Безопасности <span>IT-технологий</span></h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Single Slide -->
    <div class="single-slide">
      <!-- Background Image-->
      <div class="slide-bg-img bg-img" th:style="'background-image: url(' + @{img/bg-img/2.jpg} + ');'"></div>
      <!-- Welcome Text -->
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 col-lg-9">
            <div class="welcome-text">
              <h2 data-animation="fadeInUp" data-delay="300ms"><span>КАЖДОЕ СЛОВО</span>ДОСТИГНЕТ АДРЕСАТА !<br>
              </h2>
              <h4 data-animation="fadeInUp" data-delay="500ms">Мы знаем что делать,<span></span>чтобы связь работала
                                                               всегда !</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
