<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head"></head>

<body>

<div th:replace="fragments/layout/header :: header"></div>
<section th:replace="fragments/hero-area :: hero-area"></section>

<!-- ##### Newsletter Area Start ###### -->
<section id="grid-41714" class="content-main-section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="c44557" style="margin-top: 90px !important;margin-bottom: 120px !important;"
             class="frame frame-default frame-type-dce_dceuid11 frame-layout-0">
          <div class="textheader-darkgrey">
            <div class="textheader  text-xl-center center"><h1 style="color: #688bfe">IKSLine</h1>
              <h2 style="color: #688bfe">Безопасность и Связь – наша специализация</h2>
            </div>
          </div>
        </div>

        <div class="row g2">
          <div class="col-md-6 col-sm-12 inner-right-sm">
            <div id="c44678" style="" class="frame frame-default frame-type-text frame-layout-0"><a id="c55920"></a>
              <h2 style="color: #688bfe">Краткий обзор компании IKSLine</h2>
              В настоящее время наши уникальные решения <strong>применяются для защиты людей, зданий и
                                                                ценностей</strong> &nbsp;по всей России.

              Интеграция Интерком-систем от компании IKSLine оказалась весьма успешной во многих отраслях
              промышленности. Интерком-терминалы, модули и серверы для передачи речи, изображений и данных <strong>можно
                                                                                                                   встретить
                                                                                                                   в
                                                                                                                   диспетчерских
                                                                                                                   центрах
                                                                                                                   служб
                                                                                                                   контроля
                                                                                                                   и
                                                                                                                   управления
                                                                                                                   по
                                                                                                                   всей
                                                                                                                   России,
                                                                                                                   что
                                                                                                                   повышает
                                                                                                                   уровень
                                                                                                                   безопасности</strong>.
              К примерам применения можно отнести пункты вызова помощи при возникновении проблем, связанных с
              транспортом, контроль шлагбаумов на автомобильных парковках и лифтов в зданиях.

              Наши решения можно встретить в университетах и школах, на производственных объектах, автостоянках, в РЖД,
              больницах, тоннелях, а также во многих других местах.
            </div>


            <div id="c44679" style="margin-top: 80px !important;"
                 class="frame frame-default frame-type-text frame-layout-0"><a id="c55921"></a>
              <h2 style="color: #688bfe">Продукция и решения от компании IKSLine представляют собой долгосрочную
                                         инвестицию, поскольку их можно дополнять и модернизировать.</h2>
              Для всех отраслей промышленности требуется абсолютная надежность в различных ситуациях. Благодаря
              исключительному качеству, современному дизайну, надежности, долговечности и конструктивным решениям,
              Интерком-системы становятся долгосрочными инвестициями в сфере связи, поэтому наши клиенты по-прежнему
              выбирают нас.
              <strong>Наша цель - обеспечение вашей безопасности.</strong>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 inner-left-sm">
            <div id="c44680" style="" class="frame frame-default frame-type-text frame-layout-0"><a id="c55918"></a>
              <h2 style="color: #688bfe">Решения</h2>
              Широкий спектр решений - доступное обеспечение способности общаться и звонить с помощью
              Интерком-терминалов откуда угодно, куда угодно, будь то два отдельных терминала или полностью сетевое
              решение. Приложения включают:
            </div>
            <div class="row g2">
              <div class="col-md-6 col-sm-12 inner-right-sm">
                <div id="c44707" style="" class="frame frame-default frame-type-text frame-layout-0"><a id="c55916"></a>
                  <ul class="arrowed">
                    <li>Безопасность здания</li>
                    <li>Автомобильные парковки</li>
                    <li>Общественный транспорт</li>
                    <li>Городские центры</li>
                    <li>Университеты и школы</li>
                    <li>Больницы</li>
                    <li>Аэропорты</li>
                  </ul>
                  РЖД
                </div>

              </div>
              <div class="col-md-6 col-sm-12 inner-left-sm">
                <div id="c44708" style="" class="frame frame-default frame-type-text frame-layout-0"><a id="c55915"></a>
                  <ul class="arrowed">
                    <li>Тюрьмы и полиция</li>
                    <li>Промышленность</li>
                    <li>Нефть и нефтехимия</li>
                    <li>Энергетика и ЖКХ</li>
                    <li>Лифты</li>
                    <li>Тоннели</li>
                  </ul>
                </div>

              </div>
            </div>
            <div id="c44704" style="margin-top: 89px !important;"
                 class="frame frame-default frame-type-textpic frame-layout-0"><a id="c55919"></a>
              <h2 style="color: #688bfe">
                Более 10 лет опыта
              </h2>
              <div class="ce-textpic ce-left ce-above">
                <div class="ce-bodytext">

                  Все началось с нескольких -терминалов в 2000-х годах.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Newsletter Area End ###### -->

<!-- ##### Portfolio Area Start ###### -->
<section id="grid-44522" class="content-main-section bg-transparent" style="min-height:400px;">

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="c44526" style="margin-top: 180px !important;"
             class="frame frame-default frame-type-dce_dceuid18 frame-layout-0">
          <div class="tx-dce-pi1">
            <div class="textheader header-right">
              <div class="header-dark-bg"><h2 class="bgHeadline"><span>Исследования и разработки</span></h2>
                <div class="subheader-distance"><h3 class="bgHeadline"><span>Программное обеспечение - Встроенные программы - Оборудование - Машины</span>
                </h3></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<section id="grid-41745" class="content-main-section bg-dark-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="c41746" style="margin-bottom: 20px !important;"
             class="frame frame-default frame-type-text frame-layout-0"><a id="c55934"></a>
          <h2 class="">От идеи к действию</h2>
          Компанию IKSLine неизменно отличает стремление выйти за пределы заурядных решений и добиваться качества на
          пределе технических возможностей.
          Именно поэтому жизнь в лабораториях компании IKSLine активна круглый год. Специалисты по аппаратным и
          программным средствам и разработчики ПО работают рука об руку, чтобы удовлетворить все требования рынка и
          создать Интерком-систему самого высокого качества – от начальной идеи до готового продукта. Существующая
          продукция постоянно расширяется и оптимизируется – это обеспечивает ее соответствие постоянно растущим
          требованиям клиентов.
          В результате создается продукция, срок службы которой дает инвестору возможность гарантированно вернуть свои
          вложения: испытанный принцип постоянных инженерно-технических разработок IKSLine обеспечивает преемственность
          поколений и позволяет полностью комбинировать существующие устройства с новейшими Интерком-системами 2.0 даже
          спустя десятилетия.
        </div>

      </div>
    </div>
  </div>
</section>
<section id="grid-44558" class="content-main-section bg-transparent" style="min-height:400px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="c44559" style="" class="frame frame-default frame-type-dce_dceuid18 frame-layout-0">
          <div class="tx-dce-pi1">
            <div class="textheader header-left">
              <div class="header-dark-bg"><h2 class="bgHeadline"><span>Производство</span></h2>
                <div class="subheader-distance"><h3 class="bgHeadline">
                  <span>Там, где эффективность можно услышать</span></h3></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<section id="grid-44560" class="content-main-section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="c44561" style="margin-top: 40px !important;margin-bottom: 50px !important;"
             class="frame frame-default frame-type-textpic frame-layout-0"><a id="c55932"></a>
          <div class="ce-textpic ce-right ce-intext ce-nowrap">
            <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
              <div class="ce-row">
                <div class="ce-column">
                  <figure class="image">
                    <img class="image-embed-item" title="Made in Austria" th:src="@{img/core-img/logo.png}"
                         width="350"
                         height="350" alt="" /></figure>
                </div>
              </div>
            </div>
            <div class="ce-bodytext"><h2 class="">IKSLine - это вид качества изнутри</h2>
              На нашем производственном предприятии воплощаются самые смелые мечты об Интерком-системах. В
              высокоавтоматизированных цехах, на чистом производстве собираются воедино <strong>миллионы электронных
                                                                                                компонентов</strong> для
              того, чтобы создать изделия, соответствующие самым высоким требованиям наших клиентов и обеспечивающие
              превосходное качество звука.
              Это гораздо больше, чем просто рекламный слоган. Все наше оборудование подвергается двойному
              100-процентному испытанию качества, потому что одних выборочных проверок здесь недостаточно.
              <ol>
                <li><strong>Каждый компонент</strong> проходит полную процедуру электронного контроля качества в
                                                      специальном испытательном блоке.
                </li>
                <li>Контроль качества второго уровня предполагает <strong>проверку конфигурации каждого устройства, его
                                                                          функциональности и качества звука</strong>.
                </li>
              </ol>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<div th:replace="fragments/layout/footer :: footer"></div>
</body>

</html>
